@model List<Skateboard>
@using MVCBike.Helpers



<div class="container mt-4">
    <h2 class="text-center">Skateboard Ratings</h2>

    <ul class="list-unstyled mx-auto">
        @foreach (var skateboard in Model)
        {
            <li class="mb-3 row">
                <div class="col">
                    @skateboard.Brand @UpperHelper.FormatModelAsUpperCase(skateboard.Model) - Rating: @skateboard.Rating
                </div>
                <div class="col-auto">
                    <form asp-action="DeleteSkateboard" asp-route-id="@skateboard.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this skateboard?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </li>
        }
    </ul>

    <div class="text-center">
        <a asp-action="AddSkateboard" class="btn btn-primary">Add a Skateboard</a>
    </div>
</div>